@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;500&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.Footer{
    position:relative;
    height:auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color:#EACD65;
    margin-left:0;
    margin-bottom:0;
    margin-top: 5vh;
    padding-top:4vh;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    color: #383838;
    z-index: 9;
}

.Footer p {
 padding-left: 4vw;
 padding-right: 4vw;
 padding-bottom:2vh;
}

.Footer-Spacer{
    width: 95vw;
    border-bottom:3px solid #e14342;
    margin-left:2.5vw;
    margin-bottom:1vh;
}