.Footer{
    height:auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color:red;
    margin-left:0;
    margin-bottom:0;
    padding-top:4vh;
    margin-top: 3vh;
}