@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

.Header{
    max-height:10vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #EACD65;
    color: whitesmoke;
}



.Logo{
    height:8vh;
    width: auto;
    align-items:center;
    overflow:hidden;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top:1vh;
    margin-bottom:1vh;
}