@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;500&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* Style the Menu Section */
.Menu-Item-Section{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Varela Round', sans-serif;
}
/* Style the buttons that are used to open and close the Menu Item */
.Menu-Item{
  background-color: #fffff0;
  color: #444;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  font-family: 'Varela Round', sans-serif;
  
}

/* Add a background Color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/*.Menu-Item:hover,
.active {
    background-color: #fff8e7;
}
*/
/* Style the Menu Item chevron Icon */
.Menu-Item-Icon{
    margin-left: auto;
    transition: transform 0.6s ease;
    margin-right: 3vw;
}

/* Style to rotate icon when state is active */
.rotate {
    transform: rotate(90deg);
}

/* Style the Menu item control panel.  Note: hidden by default */
.Menu-Item-Content{
    background-color: #fefefa;
    overflow: auto;
    transition: max-height 0.3s ease;
}

/* Style the Menu Item Image */
.Menu-Item-Img{
  border-radius: 50%;
  height: 10vh;
  width:10vh;
  object-fit:cover;
  margin-left:3vw;
  transition: border-radius 0.3s ease;
}

/* Style the Menu Item Image while it is active. Note: this is the larger Image */
.Menu-Item-Img-Bg{
    border-radius: 0%;
    height: 40vh;
    width: auto;
    transition: border-radius 0.3s ease-in;
}
.overlay{
  height: 40.5vh;
  width:100vw;
  position: absolute;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.65); /* Black see-through */
}

/* Styling the Menu Title Text */
.Menu-Item-Title{
    font-size: 22px;
    padding: 7vw;
    padding-top: 7vh;
    padding-bottom:7vh;
}
.Menu-Item-Title-Bg{
    font-size: 28px;
    color:white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    font-weight: 400;
}
/* Style the Menu Item Price. Note: Hidden by default*/
.Menu-Item-Price{
   display:none;
}

/* Style the Menu Item Price To show when .active state is set */
.Menu-Item-Price-Bg{
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    font-size: 55px;
    color:white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    
}

/* Style the Menu Item content text */
.Menu-Item-Text{
    
    font-weight: 400;
    font-size: 20px;
    padding: 18px;
    font-family: 'Varela Round', sans-serif;
}