@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

.Navigation{
    height:auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    padding:0;
    background-color: #eee;
}

.Button{
    
    background-color: #eee;
    width:50vw;
    height:10vh;
    outline:none;
    border:none;
    font-size: 18px;
    padding:0;
    margin:0;
    font-size: 22px;
}

.Active-Button{
    border-bottom: 3px solid #e14342;
}