@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.Navigation{
    height:auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    padding:0;
    background-color: #fffff0;
}

.Button{
    
    background-color:#fffff0;
    width:50vw;
    height:10vh;
    outline:none;
    border:none;
    font-size: 18px;
    padding:0;
    margin:0;
    font-size: 22px;
    font-family: 'Varela Round', sans-serif;
    color: #bebebe;
    box-shadow: 0px 4px 6px -6px rgba(169, 169, 169, 0.6);
}

.Active-Button{
    border-bottom: 3px solid #e14342;
    
}
.Active-Button > .Button{
    color: #676767;
}